<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />
    <link rel="icon" type="image/png" href="{{ source('assets/img/favicon.png')|data_uri(mime="image/png") }}">
    <style type="text/css">
        {% include 'build/style.css' %}
    </style>
<title>Horde Development Resources</title>
<style type="text/css">
<!--
body {
    background-color: #ffffff;
    color: #000000;
    font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
    font-size: 9pt;
    margin: 10px;
}
h1 {
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
}
h2 {
    color: #990000;
    border-bottom: 1px solid black;
    font-size: 12pt;
    font-weight: normal;
    text-align: left;
    margin-bottom: 2px;
}
td {
    padding-left: 5px;
    padding-right: 3px;
    font-size: 9pt;
}
ul {
    padding-left: 20px;
    list-style-type: disc;
}
.apiname {
    border-right: 1px solid #999999;
    padding-right: 10px;
    text-align: right;
}
.apidate {
    color: #666666;
    font-size: 8pt;
    padding-left: 20px;
}
//-->
</style>
</head>


<body>
<h1>Horde Development Resources</h1>

<h2>Source Code</h2>
<ul>
<li><a href="http://www.horde.org/source/">Anonymous Git</a></li>
<li><a href="http://github.com/horde/horde/">Web Interface (GitHub)</a></li>
</ul>

<h2>Mailing Lists</h2>
<ul>
<li><a href="http://www.horde.org/mail/">Mailing List Information</a></li>
<li><a href="http://lists.horde.org/">Public Mailing Lists</a></li>
</ul>

<h2>Other stuff</h2>
<ul>
<li><a href="https://travis-ci.org/horde/horde">Continuous Integration Results</a></li>
<li><a href="http://wiki.horde.org/">Horde Wiki</a></li>
<li><a href="http://git.horde.org/skeleton/">Skeleton Module</a> (<a href="https://github.com/horde/horde/tree/master/skeleton">GitHub</a>)</li>
<li><a href="http://dev.horde.org/i18n/">Translation Statistics</a></li>
</ul>

<h2> SATIS </h2>
<div class="container">
    <header class="mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <a href="{{ url }}">
                <h1>{{ name|default('Composer repository') }}</h1>
            </a>
            <span class="badge bg-light text-dark m-1" title="{{ "now"|date(constant('\DateTime::COOKIE')) }}">
                Last updated: <br class="d-md-none"> <time datetime="{{ "now"|date(constant('\DateTime::RFC3339')) }}">{{ "now"|date('l, d M Y H:i:s T') }}</time>
            </span>
        </div>

        {% if description %}
            <p class="lead">{{ description|raw }}</p>
        {% endif %}
    </header>

    <form class="my-3">
        <div class="input-group">
            <label for="search" class="visually-hidden">Filter packages</label>
            <input type="search"
                id="search"
                class="form-control"
                placeholder="Filter packages"
                autocomplete="off"
                autofocus>
            <select class="form-select filter-field">
                <option value="all" selected disabled hidden>Filter by..</option>
                <option value="all">All fields</option>
                <optgroup label="Specific field...">
                    <option value="name">Name</option>
                    {% for fieldName, label in fieldsToToggle %}
                    <option value="{{ fieldName }}">{{ label }}</option>
                    {% endfor %}
                </optgroup>
            </select>
            <div class="input-group-append">
                <button
                    class="btn btn-outline-secondary d-none toggle-settings"
                    type="button"
                    aria-pressed="false"
                    aria-label="Toggle settings"
                    title="Toggle settings"
                    data-toggle="collapse"
                    data-target=".settings"
                >
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" role="img">
                        <path d="M11.998 7.66A4.339 4.339 0 007.661 12a4.342 4.342 0 004.337 4.34A4.33 4.33 0 0016.323 12a4.327 4.327 0 00-4.325-4.34zm8.697 6.833l-.782 1.883 1.395 2.739.184.362-1.933 1.933-3.173-1.498-1.883.773-.956 2.927-.122.388h-2.733l-1.183-3.303-1.883-.777-2.743 1.391-.362.181-1.933-1.932 1.497-3.174-.776-1.882-2.921-.954L0 13.425v-2.732L3.306 9.51l.775-1.88-1.39-2.745-.183-.36 1.93-1.93L7.615 4.09l1.88-.778.956-2.924.123-.388h2.732l1.183 3.307 1.879.778 2.744-1.392.365-.184 1.931 1.93-1.496 3.172.773 1.885 2.93.955.385.123v2.73l-3.305 1.189z"/>
                    </svg>
                </button>
            </div>
        </div>
    </form>
    <form class="my-3 card collapse settings" aria-expanded="false">
        <div class="card-body">
            <div class="form-group">
                <p class="h6">Default package &quot;filter by&quot; field:</p>
                <div class="form-check form-check-inline">
                    <input
                        id="package-filter-last"
                        class="form-check-input"
                        type="radio"
                        name="default-filter"
                        value="all"
                        checked>
                    <label class="form-check-label" for="package-filter-last">Search in all fields</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                        id="package-filter-recent"
                        class="form-check-input"
                        type="radio"
                        name="default-filter"
                        value="recent">
                    <label class="form-check-label" for="package-filter-recent">Most recently selected field</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                        id="package-filter-custom"
                        class="form-check-input"
                        type="radio"
                        name="default-filter"
                        value="custom">
                    <label class="form-check-label" for="package-filter-custom">Use this field:</label>
                    <select class="custom-select ml-2 default-filter-field">
                        <option value="all" selected disabled hidden>Select field...</option>
                        <option value="name">Name</option>
                        {% for fieldName, label in fieldsToToggle %}
                        <option value="{{ fieldName }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group mb-0">
                <p class="h6">Fields to display on packages:</p>
                <div class="form-check form-check-inline">
                    <button
                        id="toggle-field-all"
                        class="btn btn-sm btn-primary"
                        disabled>Show All</button>
                </div>
                {% for fieldName, label in fieldsToToggle %}
                <div class="form-check form-check-inline">
                    <input
                        id="toggle-field-{{ fieldName }}"
                        class="form-check-input toggle-field"
                        type="checkbox"
                        value="{{ fieldName }}"
                        checked>
                    <label class="form-check-label" for="toggle-field-{{ fieldName }}">{{ label }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </form>

    <div id="repo-help" class="my-3">
        <p class="small">
            This is a private Composer repository.
            To use it, you have to <a title="Check how to add this repository to your project" data-toggle="collapse" href="#repo-config">add this repository</a> to your <code>composer.json</code> file.
        </p>

        <div id="repo-config" class="my-3 card card-outline collapse" aria-expanded="false">
            <div class="card-body">
                <h5 class="card-title">Setting up this repository in your projects</h5>
                <p>
                    Add this <a href="https://getcomposer.org/" title="Visit getcomposer.org">Composer</a>
                    repository to your project's <code>composer.json</code>
                    file, then you can require these private packages just like you would with
                    one from <a href="https://packagist.org">Packagist</a>.
                </p>
                <pre class="file my-3">{
  "repositories": [{
    "type": "composer",
    "url": "{{ url }}"
  }]
}</pre>
            <p>Click on an individual package's release version to get a snippet of code for your project's dependencies.</p>
            <p class="small mb-0">Read more on <a href="https://getcomposer.org/doc/articles/handling-private-packages-with-satis.md">how to handle composer private packages</a>.</p>
            </div>
        </div>
    </div>

    <div id="package-list">
        {% for name, package in packages %}
            {% include 'package.html.twig' %}
        {% endfor %}
    </div>

    <div id="ft">
        <p class="text-center"><small>This Composer repository is powered by <a href="https://github.com/composer/satis">Satis</a></small></p>
    </div>
</div>

<div class="input-group copy-snippet d-none pt-3">
    <div class="copy-snippet__tooltip tooltip bs-tooltip-bottom" role="tooltip">
        <div class="arrow"></div>
        <div class="tooltip-inner">Copied dependency to clipboard</div>
    </div>
    <label for="copy-snippet__input" class="visually-hidden">Release code snippet for composer json</label>
    <input id="copy-snippet__input" class="copy-snippet__input form-control" type="text">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary copy-snippet__button" aria-label="Copy to clipboard" title="Copy to clipboard">
            <svg role="img" height="24" width="22.4" viewBox="0 0 1024 896" xmlns="http://www.w3.org/2000/svg">
                <path d="M704 896h-640v-576h640v192h64v-320c0-35-29-64-64-64h-192c0-71-57-128-128-128s-128 57-128 128h-192c-35 0-64 29-64 64v704c0 35 29 64 64 64h640c35 0 64-29 64-64v-128h-64v128z m-512-704c29 0 29 0 64 0s64-29 64-64 29-64 64-64 64 29 64 64 32 64 64 64 33 0 64 0 64 29 64 64h-512c0-39 28-64 64-64z m-64 512h128v-64h-128v64z m448-128v-128l-256 192 256 192v-128h320v-128h-320z m-448 256h192v-64h-192v64z m320-448h-320v64h320v-64z m-192 128h-128v64h128v-64z"></path>
            </svg>
        </button>
    </div>
</div>

<script type="text/javascript">
{{ source('build/app.js') }}
</script>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="octicon-link" viewBox="0 0 16 16">
        <path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
    </symbol>
</svg>




<h2>API References - Horde 5</h2>

<h3>Horde 5 Base</h3>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td class="apiname"><b>Horde</b></td><td><a href="./api/master/app/horde/">View Online</a></td><td><a href="./api/master/app/horde/horde.tar.gz">horde.tar.gz</a> (24247k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
</table>

<h3>Horde 5 Applications</h3>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td class="apiname"><b>Agora</b></td><td><a href="./api/master/app/agora/">View Online</a></td><td><a href="./api/master/app/agora/agora.tar.gz">agora.tar.gz</a> (3215k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Ansel</b></td><td><a href="./api/master/app/ansel/">View Online</a></td><td><a href="./api/master/app/ansel/ansel.tar.gz">ansel.tar.gz</a> (7397k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Chora</b></td><td><a href="./api/master/app/chora/">View Online</a></td><td><a href="./api/master/app/chora/chora.tar.gz">chora.tar.gz</a> (3820k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Gollem</b></td><td><a href="./api/master/app/gollem/">View Online</a></td><td><a href="./api/master/app/gollem/gollem.tar.gz">gollem.tar.gz</a> (5760k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Hermes</b></td><td><a href="./api/master/app/hermes/">View Online</a></td><td><a href="./api/master/app/hermes/hermes.tar.gz">hermes.tar.gz</a> (2315k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>IMP</b></td><td><a href="./api/master/app/imp/">View Online</a></td><td><a href="./api/master/app/imp/imp.tar.gz">imp.tar.gz</a> (4888k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Ingo</b></td><td><a href="./api/master/app/ingo/">View Online</a></td><td><a href="./api/master/app/ingo/ingo.tar.gz">ingo.tar.gz</a> (8589k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Jonah</b></td><td><a href="./api/master/app/jonah/">View Online</a></td><td><a href="./api/master/app/jonah/jonah.tar.gz">jonah.tar.gz</a> (2509k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Klutz</b></td><td><a href="./api/master/app/klutz/">View Online</a></td><td><a href="./api/master/app/klutz/klutz.tar.gz">klutz.tar.gz</a> (1566k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kronolith</b></td><td><a href="./api/master/app/kronolith/">View Online</a></td><td><a href="./api/master/app/kronolith/kronolith.tar.gz">kronolith.tar.gz</a> (16362k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mnemo</b></td><td><a href="./api/master/app/mnemo/">View Online</a></td><td><a href="./api/master/app/mnemo/mnemo.tar.gz">mnemo.tar.gz</a> (6388k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Nag</b></td><td><a href="./api/master/app/nag/">View Online</a></td><td><a href="./api/master/app/nag/nag.tar.gz">nag.tar.gz</a> (9188k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Passwd</b></td><td><a href="./api/master/app/passwd/">View Online</a></td><td><a href="./api/master/app/passwd/passwd.tar.gz">passwd.tar.gz</a> (1102k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
<tr><td class="apiname"><b>Sesha</b></td><td><a href="./api/master/app/sesha/">View Online</a></td><td><a href="./api/master/app/sesha/sesha.tar.gz">sesha.tar.gz</a> (1268k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Skeleton</b></td><td><a href="./api/master/app/skeleton/">View Online</a></td><td><a href="./api/master/app/skeleton/skeleton.tar.gz">skeleton.tar.gz</a> (215k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Trean</b></td><td><a href="./api/master/app/trean/">View Online</a></td><td><a href="./api/master/app/trean/trean.tar.gz">trean.tar.gz</a> (3650k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Turba</b></td><td><a href="./api/master/app/turba/">View Online</a></td><td><a href="./api/master/app/turba/turba.tar.gz">turba.tar.gz</a> (10640k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Ulaform</b></td><td><a href="./api/master/app/ulaform/">View Online</a></td><td><a href="./api/master/app/ulaform/ulaform.tar.gz">ulaform.tar.gz</a> (1565k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Whups</b></td><td><a href="./api/master/app/whups/">View Online</a></td><td><a href="./api/master/app/whups/whups.tar.gz">whups.tar.gz</a> (6645k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Wicked</b></td><td><a href="./api/master/app/wicked/">View Online</a></td><td><a href="./api/master/app/wicked/wicked.tar.gz">wicked.tar.gz</a> (4377k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
</table>

<h3>Horde 5 Packages</h3>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td class="apiname"><b>ActiveSync</b></td><td><a href="./api/master/lib/ActiveSync/">View Online</a></td><td><a href="./api/master/lib/ActiveSync/ActiveSync.tar.gz">ActiveSync.tar.gz</a> (3986k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Alarm</b></td><td><a href="./api/master/lib/Alarm/">View Online</a></td><td><a href="./api/master/lib/Alarm/Alarm.tar.gz">Alarm.tar.gz</a> (427k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Argv</b></td><td><a href="./api/master/lib/Argv/">View Online</a></td><td><a href="./api/master/lib/Argv/Argv.tar.gz">Argv.tar.gz</a> (394k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Auth</b></td><td><a href="./api/master/lib/Auth/">View Online</a></td><td><a href="./api/master/lib/Auth/Auth.tar.gz">Auth.tar.gz</a> (657k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Autoloader</b></td><td><a href="./api/master/lib/Autoloader/">View Online</a></td><td><a href="./api/master/lib/Autoloader/Autoloader.tar.gz">Autoloader.tar.gz</a> (127k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Autoloader_Cache</b></td><td><a href="./api/master/lib/Autoloader_Cache/">View Online</a></td><td><a href="./api/master/lib/Autoloader_Cache/Autoloader_Cache.tar.gz">Autoloader_Cache.tar.gz</a> (108k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Backup</b></td><td><a href="./api/master/lib/Backup/">View Online</a></td><td><a href="./api/master/lib/Backup/Backup.tar.gz">Backup.tar.gz</a> (64k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Browser</b></td><td><a href="./api/master/lib/Browser/">View Online</a></td><td><a href="./api/master/lib/Browser/Browser.tar.gz">Browser.tar.gz</a> (348k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Cache</b></td><td><a href="./api/master/lib/Cache/">View Online</a></td><td><a href="./api/master/lib/Cache/Cache.tar.gz">Cache.tar.gz</a> (282k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Cli</b></td><td><a href="./api/master/lib/Cli/">View Online</a></td><td><a href="./api/master/lib/Cli/Cli.tar.gz">Cli.tar.gz</a> (283k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Cli_Application</b></td><td><a href="./api/master/lib/Cli_Application/">View Online</a></td><td><a href="./api/master/lib/Cli_Application/Cli_Application.tar.gz">Cli_Application.tar.gz</a> (31k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Cli_Modular</b></td><td><a href="./api/master/lib/Cli_Modular/">View Online</a></td><td><a href="./api/master/lib/Cli_Modular/Cli_Modular.tar.gz">Cli_Modular.tar.gz</a> (131k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Compress</b></td><td><a href="./api/master/lib/Compress/">View Online</a></td><td><a href="./api/master/lib/Compress/Compress.tar.gz">Compress.tar.gz</a> (4707k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Compress_Fast</b></td><td><a href="./api/master/lib/Compress_Fast/">View Online</a></td><td><a href="./api/master/lib/Compress_Fast/Compress_Fast.tar.gz">Compress_Fast.tar.gz</a> (77k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Constraint</b></td><td><a href="./api/master/lib/Constraint/">View Online</a></td><td><a href="./api/master/lib/Constraint/Constraint.tar.gz">Constraint.tar.gz</a> (77k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Controller</b></td><td><a href="./api/master/lib/Controller/">View Online</a></td><td><a href="./api/master/lib/Controller/Controller.tar.gz">Controller.tar.gz</a> (193k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Core</b></td><td><a href="./api/master/lib/Core/">View Online</a></td><td><a href="./api/master/lib/Core/Core.tar.gz">Core.tar.gz</a> (8631k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Crypt</b></td><td><a href="./api/master/lib/Crypt/">View Online</a></td><td><a href="./api/master/lib/Crypt/Crypt.tar.gz">Crypt.tar.gz</a> (1052k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Crypt_Blowfish</b></td><td><a href="./api/master/lib/Crypt_Blowfish/">View Online</a></td><td><a href="./api/master/lib/Crypt_Blowfish/Crypt_Blowfish.tar.gz">Crypt_Blowfish.tar.gz</a> (112k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>CssMinify</b></td><td><a href="./api/master/lib/CssMinify/">View Online</a></td><td><a href="./api/master/lib/CssMinify/CssMinify.tar.gz">CssMinify.tar.gz</a> (56k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Css_Parser</b></td><td><a href="./api/master/lib/Css_Parser/">View Online</a></td><td><a href="./api/master/lib/Css_Parser/Css_Parser.tar.gz">Css_Parser.tar.gz</a> (274k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Data</b></td><td><a href="./api/master/lib/Data/">View Online</a></td><td><a href="./api/master/lib/Data/Data.tar.gz">Data.tar.gz</a> (375k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Date</b></td><td><a href="./api/master/lib/Date/">View Online</a></td><td><a href="./api/master/lib/Date/Date.tar.gz">Date.tar.gz</a> (570k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Date_Parser</b></td><td><a href="./api/master/lib/Date_Parser/">View Online</a></td><td><a href="./api/master/lib/Date_Parser/Date_Parser.tar.gz">Date_Parser.tar.gz</a> (583k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Dav</b></td><td><a href="./api/master/lib/Dav/">View Online</a></td><td><a href="./api/master/lib/Dav/Dav.tar.gz">Dav.tar.gz</a> (1796k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Db</b></td><td><a href="./api/master/lib/Db/">View Online</a></td><td><a href="./api/master/lib/Db/Db.tar.gz">Db.tar.gz</a> (1022k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Editor</b></td><td><a href="./api/master/lib/Editor/">View Online</a></td><td><a href="./api/master/lib/Editor/Editor.tar.gz">Editor.tar.gz</a> (2444k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>ElasticSearch</b></td><td><a href="./api/master/lib/ElasticSearch/">View Online</a></td><td><a href="./api/master/lib/ElasticSearch/ElasticSearch.tar.gz">ElasticSearch.tar.gz</a> (51k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Exception</b></td><td><a href="./api/master/lib/Exception/">View Online</a></td><td><a href="./api/master/lib/Exception/Exception.tar.gz">Exception.tar.gz</a> (265k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Feed</b></td><td><a href="./api/master/lib/Feed/">View Online</a></td><td><a href="./api/master/lib/Feed/Feed.tar.gz">Feed.tar.gz</a> (3348k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Form</b></td><td><a href="./api/master/lib/Form/">View Online</a></td><td><a href="./api/master/lib/Form/Form.tar.gz">Form.tar.gz</a> (992k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Group</b></td><td><a href="./api/master/lib/Group/">View Online</a></td><td><a href="./api/master/lib/Group/Group.tar.gz">Group.tar.gz</a> (312k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>HashTable</b></td><td><a href="./api/master/lib/HashTable/">View Online</a></td><td><a href="./api/master/lib/HashTable/HashTable.tar.gz">HashTable.tar.gz</a> (125k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>History</b></td><td><a href="./api/master/lib/History/">View Online</a></td><td><a href="./api/master/lib/History/History.tar.gz">History.tar.gz</a> (251k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Http</b></td><td><a href="./api/master/lib/Http/">View Online</a></td><td><a href="./api/master/lib/Http/Http.tar.gz">Http.tar.gz</a> (222k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Icalendar</b></td><td><a href="./api/master/lib/Icalendar/">View Online</a></td><td><a href="./api/master/lib/Icalendar/Icalendar.tar.gz">Icalendar.tar.gz</a> (603k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Idna</b></td><td><a href="./api/master/lib/Idna/">View Online</a></td><td><a href="./api/master/lib/Idna/Idna.tar.gz">Idna.tar.gz</a> (86k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Image</b></td><td><a href="./api/master/lib/Image/">View Online</a></td><td><a href="./api/master/lib/Image/Image.tar.gz">Image.tar.gz</a> (3297k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Imap_Client</b></td><td><a href="./api/master/lib/Imap_Client/">View Online</a></td><td><a href="./api/master/lib/Imap_Client/Imap_Client.tar.gz">Imap_Client.tar.gz</a> (3110k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Imsp</b></td><td><a href="./api/master/lib/Imsp/">View Online</a></td><td><a href="./api/master/lib/Imsp/Imsp.tar.gz">Imsp.tar.gz</a> (295k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Injector</b></td><td><a href="./api/master/lib/Injector/">View Online</a></td><td><a href="./api/master/lib/Injector/Injector.tar.gz">Injector.tar.gz</a> (166k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Itip</b></td><td><a href="./api/master/lib/Itip/">View Online</a></td><td><a href="./api/master/lib/Itip/Itip.tar.gz">Itip.tar.gz</a> (322k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>JavascriptMinify</b></td><td><a href="./api/master/lib/JavascriptMinify/">View Online</a></td><td><a href="./api/master/lib/JavascriptMinify/JavascriptMinify.tar.gz">JavascriptMinify.tar.gz</a> (85k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>JavascriptMinify_Jsmin</b></td><td><a href="./api/master/lib/JavascriptMinify_Jsmin/">View Online</a></td><td><a href="./api/master/lib/JavascriptMinify_Jsmin/JavascriptMinify_Jsmin.tar.gz">JavascriptMinify_Jsmin.tar.gz</a> (44k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Cli</b></td><td><a href="./api/master/lib/Kolab_Cli/">View Online</a></td><td><a href="./api/master/lib/Kolab_Cli/Kolab_Cli.tar.gz">Kolab_Cli.tar.gz</a> (255k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Config</b></td><td><a href="./api/master/lib/Kolab_Config/">View Online</a></td><td><a href="./api/master/lib/Kolab_Config/Kolab_Config.tar.gz">Kolab_Config.tar.gz</a> (14k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Filter</b></td><td><a href="./api/master/lib/Kolab_Filter/">View Online</a></td><td><a href="./api/master/lib/Kolab_Filter/Kolab_Filter.tar.gz">Kolab_Filter.tar.gz</a> (60k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Format</b></td><td><a href="./api/master/lib/Kolab_Format/">View Online</a></td><td><a href="./api/master/lib/Kolab_Format/Kolab_Format.tar.gz">Kolab_Format.tar.gz</a> (808k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_FreeBusy</b></td><td><a href="./api/master/lib/Kolab_FreeBusy/">View Online</a></td><td><a href="./api/master/lib/Kolab_FreeBusy/Kolab_FreeBusy.tar.gz">Kolab_FreeBusy.tar.gz</a> (91k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Resource</b></td><td><a href="./api/master/lib/Kolab_Resource/">View Online</a></td><td><a href="./api/master/lib/Kolab_Resource/Kolab_Resource.tar.gz">Kolab_Resource.tar.gz</a> (36k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Server</b></td><td><a href="./api/master/lib/Kolab_Server/">View Online</a></td><td><a href="./api/master/lib/Kolab_Server/Kolab_Server.tar.gz">Kolab_Server.tar.gz</a> (1160k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Session</b></td><td><a href="./api/master/lib/Kolab_Session/">View Online</a></td><td><a href="./api/master/lib/Kolab_Session/Kolab_Session.tar.gz">Kolab_Session.tar.gz</a> (292k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Storage</b></td><td><a href="./api/master/lib/Kolab_Storage/">View Online</a></td><td><a href="./api/master/lib/Kolab_Storage/Kolab_Storage.tar.gz">Kolab_Storage.tar.gz</a> (1856k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Ldap</b></td><td><a href="./api/master/lib/Ldap/">View Online</a></td><td><a href="./api/master/lib/Ldap/Ldap.tar.gz">Ldap.tar.gz</a> (378k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Lens</b></td><td><a href="./api/master/lib/Lens/">View Online</a></td><td><a href="./api/master/lib/Lens/Lens.tar.gz">Lens.tar.gz</a> (47k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>ListHeaders</b></td><td><a href="./api/master/lib/ListHeaders/">View Online</a></td><td><a href="./api/master/lib/ListHeaders/ListHeaders.tar.gz">ListHeaders.tar.gz</a> (105k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Lock</b></td><td><a href="./api/master/lib/Lock/">View Online</a></td><td><a href="./api/master/lib/Lock/Lock.tar.gz">Lock.tar.gz</a> (145k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Log</b></td><td><a href="./api/master/lib/Log/">View Online</a></td><td><a href="./api/master/lib/Log/Log.tar.gz">Log.tar.gz</a> (158k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>LoginTasks</b></td><td><a href="./api/master/lib/LoginTasks/">View Online</a></td><td><a href="./api/master/lib/LoginTasks/LoginTasks.tar.gz">LoginTasks.tar.gz</a> (304k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mail</b></td><td><a href="./api/master/lib/Mail/">View Online</a></td><td><a href="./api/master/lib/Mail/Mail.tar.gz">Mail.tar.gz</a> (355k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mail_Autoconfig</b></td><td><a href="./api/master/lib/Mail_Autoconfig/">View Online</a></td><td><a href="./api/master/lib/Mail_Autoconfig/Mail_Autoconfig.tar.gz">Mail_Autoconfig.tar.gz</a> (101k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>ManageSieve</b></td><td><a href="./api/master/lib/ManageSieve/">View Online</a></td><td><a href="./api/master/lib/ManageSieve/ManageSieve.tar.gz">ManageSieve.tar.gz</a> (108k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mapi</b></td><td><a href="./api/master/lib/Mapi/">View Online</a></td><td><a href="./api/master/lib/Mapi/Mapi.tar.gz">Mapi.tar.gz</a> (100k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Memcache</b></td><td><a href="./api/master/lib/Memcache/">View Online</a></td><td><a href="./api/master/lib/Memcache/Memcache.tar.gz">Memcache.tar.gz</a> (123k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mime</b></td><td><a href="./api/master/lib/Mime/">View Online</a></td><td><a href="./api/master/lib/Mime/Mime.tar.gz">Mime.tar.gz</a> (1489k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mime_Viewer</b></td><td><a href="./api/master/lib/Mime_Viewer/">View Online</a></td><td><a href="./api/master/lib/Mime_Viewer/Mime_Viewer.tar.gz">Mime_Viewer.tar.gz</a> (1117k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mongo</b></td><td><a href="./api/master/lib/Mongo/">View Online</a></td><td><a href="./api/master/lib/Mongo/Mongo.tar.gz">Mongo.tar.gz</a> (304k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Nls</b></td><td><a href="./api/master/lib/Nls/">View Online</a></td><td><a href="./api/master/lib/Nls/Nls.tar.gz">Nls.tar.gz</a> (1288k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Notification</b></td><td><a href="./api/master/lib/Notification/">View Online</a></td><td><a href="./api/master/lib/Notification/Notification.tar.gz">Notification.tar.gz</a> (245k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Oauth</b></td><td><a href="./api/master/lib/Oauth/">View Online</a></td><td><a href="./api/master/lib/Oauth/Oauth.tar.gz">Oauth.tar.gz</a> (93k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>OpenXchange</b></td><td><a href="./api/master/lib/OpenXchange/">View Online</a></td><td><a href="./api/master/lib/OpenXchange/OpenXchange.tar.gz">OpenXchange.tar.gz</a> (49k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Pack</b></td><td><a href="./api/master/lib/Pack/">View Online</a></td><td><a href="./api/master/lib/Pack/Pack.tar.gz">Pack.tar.gz</a> (100k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Pdf</b></td><td><a href="./api/master/lib/Pdf/">View Online</a></td><td><a href="./api/master/lib/Pdf/Pdf.tar.gz">Pdf.tar.gz</a> (210k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Pear</b></td><td><a href="./api/master/lib/Pear/">View Online</a></td><td><a href="./api/master/lib/Pear/Pear.tar.gz">Pear.tar.gz</a> (527k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Perms</b></td><td><a href="./api/master/lib/Perms/">View Online</a></td><td><a href="./api/master/lib/Perms/Perms.tar.gz">Perms.tar.gz</a> (418k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Pgp</b></td><td><a href="./api/master/lib/Pgp/">View Online</a></td><td><a href="./api/master/lib/Pgp/Pgp.tar.gz">Pgp.tar.gz</a> (1421k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Prefs</b></td><td><a href="./api/master/lib/Prefs/">View Online</a></td><td><a href="./api/master/lib/Prefs/Prefs.tar.gz">Prefs.tar.gz</a> (584k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>PubSub</b></td><td><a href="./api/master/lib/PubSub/">View Online</a></td><td><a href="./api/master/lib/PubSub/PubSub.tar.gz">PubSub.tar.gz</a> (52k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Push</b></td><td><a href="./api/master/lib/Push/">View Online</a></td><td><a href="./api/master/lib/Push/Push.tar.gz">Push.tar.gz</a> (184k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Queue</b></td><td><a href="./api/master/lib/Queue/">View Online</a></td><td><a href="./api/master/lib/Queue/Queue.tar.gz">Queue.tar.gz</a> (78k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Rampage</b></td><td><a href="./api/master/lib/Rampage/">View Online</a></td><td><a href="./api/master/lib/Rampage/Rampage.tar.gz">Rampage.tar.gz</a> (19k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
<tr><td class="apiname"><b>Rdo</b></td><td><a href="./api/master/lib/Rdo/">View Online</a></td><td><a href="./api/master/lib/Rdo/Rdo.tar.gz">Rdo.tar.gz</a> (247k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Refactor</b></td><td><a href="./api/master/lib/Refactor/">View Online</a></td><td><a href="./api/master/lib/Refactor/Refactor.tar.gz">Refactor.tar.gz</a> (228k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Reflection</b></td><td><a href="./api/master/lib/Reflection/">View Online</a></td><td><a href="./api/master/lib/Reflection/Reflection.tar.gz">Reflection.tar.gz</a> (64k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Release</b></td><td><a href="./api/master/lib/Release/">View Online</a></td><td><a href="./api/master/lib/Release/Release.tar.gz">Release.tar.gz</a> (184k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Routes</b></td><td><a href="./api/master/lib/Routes/">View Online</a></td><td><a href="./api/master/lib/Routes/Routes.tar.gz">Routes.tar.gz</a> (183k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Rpc</b></td><td><a href="./api/master/lib/Rpc/">View Online</a></td><td><a href="./api/master/lib/Rpc/Rpc.tar.gz">Rpc.tar.gz</a> (451k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Scheduler</b></td><td><a href="./api/master/lib/Scheduler/">View Online</a></td><td><a href="./api/master/lib/Scheduler/Scheduler.tar.gz">Scheduler.tar.gz</a> (79k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Scribe</b></td><td><a href="./api/master/lib/Scribe/">View Online</a></td><td><a href="./api/master/lib/Scribe/Scribe.tar.gz">Scribe.tar.gz</a> (60k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Secret</b></td><td><a href="./api/master/lib/Secret/">View Online</a></td><td><a href="./api/master/lib/Secret/Secret.tar.gz">Secret.tar.gz</a> (130k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Serialize</b></td><td><a href="./api/master/lib/Serialize/">View Online</a></td><td><a href="./api/master/lib/Serialize/Serialize.tar.gz">Serialize.tar.gz</a> (130k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_Facebook</b></td><td><a href="./api/master/lib/Service_Facebook/">View Online</a></td><td><a href="./api/master/lib/Service_Facebook/Service_Facebook.tar.gz">Service_Facebook.tar.gz</a> (424k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_Gravatar</b></td><td><a href="./api/master/lib/Service_Gravatar/">View Online</a></td><td><a href="./api/master/lib/Service_Gravatar/Service_Gravatar.tar.gz">Service_Gravatar.tar.gz</a> (105k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_Scribd</b></td><td><a href="./api/master/lib/Service_Scribd/">View Online</a></td><td><a href="./api/master/lib/Service_Scribd/Service_Scribd.tar.gz">Service_Scribd.tar.gz</a> (15k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
<tr><td class="apiname"><b>Service_Twitter</b></td><td><a href="./api/master/lib/Service_Twitter/">View Online</a></td><td><a href="./api/master/lib/Service_Twitter/Service_Twitter.tar.gz">Service_Twitter.tar.gz</a> (150k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_UrlShortener</b></td><td><a href="./api/master/lib/Service_UrlShortener/">View Online</a></td><td><a href="./api/master/lib/Service_UrlShortener/Service_UrlShortener.tar.gz">Service_UrlShortener.tar.gz</a> (44k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_Vimeo</b></td><td><a href="./api/master/lib/Service_Vimeo/">View Online</a></td><td><a href="./api/master/lib/Service_Vimeo/Service_Vimeo.tar.gz">Service_Vimeo.tar.gz</a> (6k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
<tr><td class="apiname"><b>Service_Weather</b></td><td><a href="./api/master/lib/Service_Weather/">View Online</a></td><td><a href="./api/master/lib/Service_Weather/Service_Weather.tar.gz">Service_Weather.tar.gz</a> (1048k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>SessionHandler</b></td><td><a href="./api/master/lib/SessionHandler/">View Online</a></td><td><a href="./api/master/lib/SessionHandler/SessionHandler.tar.gz">SessionHandler.tar.gz</a> (278k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Share</b></td><td><a href="./api/master/lib/Share/">View Online</a></td><td><a href="./api/master/lib/Share/Share.tar.gz">Share.tar.gz</a> (705k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Smtp</b></td><td><a href="./api/master/lib/Smtp/">View Online</a></td><td><a href="./api/master/lib/Smtp/Smtp.tar.gz">Smtp.tar.gz</a> (220k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Socket_Client</b></td><td><a href="./api/master/lib/Socket_Client/">View Online</a></td><td><a href="./api/master/lib/Socket_Client/Socket_Client.tar.gz">Socket_Client.tar.gz</a> (76k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Spam</b></td><td><a href="./api/master/lib/Spam/">View Online</a></td><td><a href="./api/master/lib/Spam/Spam.tar.gz">Spam.tar.gz</a> (10k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
<tr><td class="apiname"><b>SpellChecker</b></td><td><a href="./api/master/lib/SpellChecker/">View Online</a></td><td><a href="./api/master/lib/SpellChecker/SpellChecker.tar.gz">SpellChecker.tar.gz</a> (99k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Stream</b></td><td><a href="./api/master/lib/Stream/">View Online</a></td><td><a href="./api/master/lib/Stream/Stream.tar.gz">Stream.tar.gz</a> (141k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Stream_Filter</b></td><td><a href="./api/master/lib/Stream_Filter/">View Online</a></td><td><a href="./api/master/lib/Stream_Filter/Stream_Filter.tar.gz">Stream_Filter.tar.gz</a> (103k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Stream_Wrapper</b></td><td><a href="./api/master/lib/Stream_Wrapper/">View Online</a></td><td><a href="./api/master/lib/Stream_Wrapper/Stream_Wrapper.tar.gz">Stream_Wrapper.tar.gz</a> (104k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Stringprep</b></td><td><a href="./api/master/lib/Stringprep/">View Online</a></td><td><a href="./api/master/lib/Stringprep/Stringprep.tar.gz">Stringprep.tar.gz</a> (182k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Support</b></td><td><a href="./api/master/lib/Support/">View Online</a></td><td><a href="./api/master/lib/Support/Support.tar.gz">Support.tar.gz</a> (231k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>SyncMl</b></td><td><a href="./api/master/lib/SyncMl/">View Online</a></td><td><a href="./api/master/lib/SyncMl/SyncMl.tar.gz">SyncMl.tar.gz</a> (560k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Template</b></td><td><a href="./api/master/lib/Template/">View Online</a></td><td><a href="./api/master/lib/Template/Template.tar.gz">Template.tar.gz</a> (101k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Test</b></td><td><a href="./api/master/lib/Test/">View Online</a></td><td><a href="./api/master/lib/Test/Test.tar.gz">Test.tar.gz</a> (3478k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Text_Diff</b></td><td><a href="./api/master/lib/Text_Diff/">View Online</a></td><td><a href="./api/master/lib/Text_Diff/Text_Diff.tar.gz">Text_Diff.tar.gz</a> (187k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Text_Filter</b></td><td><a href="./api/master/lib/Text_Filter/">View Online</a></td><td><a href="./api/master/lib/Text_Filter/Text_Filter.tar.gz">Text_Filter.tar.gz</a> (545k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Text_Filter_Jsmin</b></td><td><a href="./api/master/lib/Text_Filter_Jsmin/">View Online</a></td><td><a href="./api/master/lib/Text_Filter_Jsmin/Text_Filter_Jsmin.tar.gz">Text_Filter_Jsmin.tar.gz</a> (48k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Text_Flowed</b></td><td><a href="./api/master/lib/Text_Flowed/">View Online</a></td><td><a href="./api/master/lib/Text_Flowed/Text_Flowed.tar.gz">Text_Flowed.tar.gz</a> (93k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Text_Textile</b></td><td><a href="./api/master/lib/Text_Textile/">View Online</a></td><td><a href="./api/master/lib/Text_Textile/Text_Textile.tar.gz">Text_Textile.tar.gz</a> (69k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Thrift</b></td><td><a href="./api/master/lib/Thrift/">View Online</a></td><td><a href="./api/master/lib/Thrift/Thrift.tar.gz">Thrift.tar.gz</a> (97k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Timezone</b></td><td><a href="./api/master/lib/Timezone/">View Online</a></td><td><a href="./api/master/lib/Timezone/Timezone.tar.gz">Timezone.tar.gz</a> (152k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Token</b></td><td><a href="./api/master/lib/Token/">View Online</a></td><td><a href="./api/master/lib/Token/Token.tar.gz">Token.tar.gz</a> (316k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Translation</b></td><td><a href="./api/master/lib/Translation/">View Online</a></td><td><a href="./api/master/lib/Translation/Translation.tar.gz">Translation.tar.gz</a> (141k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Tree</b></td><td><a href="./api/master/lib/Tree/">View Online</a></td><td><a href="./api/master/lib/Tree/Tree.tar.gz">Tree.tar.gz</a> (156k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Url</b></td><td><a href="./api/master/lib/Url/">View Online</a></td><td><a href="./api/master/lib/Url/Url.tar.gz">Url.tar.gz</a> (139k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Util</b></td><td><a href="./api/master/lib/Util/">View Online</a></td><td><a href="./api/master/lib/Util/Util.tar.gz">Util.tar.gz</a> (332k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Vcs</b></td><td><a href="./api/master/lib/Vcs/">View Online</a></td><td><a href="./api/master/lib/Vcs/Vcs.tar.gz">Vcs.tar.gz</a> (71k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
<tr><td class="apiname"><b>Vfs</b></td><td><a href="./api/master/lib/Vfs/">View Online</a></td><td><a href="./api/master/lib/Vfs/Vfs.tar.gz">Vfs.tar.gz</a> (609k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>View</b></td><td><a href="./api/master/lib/View/">View Online</a></td><td><a href="./api/master/lib/View/View.tar.gz">View.tar.gz</a> (262k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Xml_Element</b></td><td><a href="./api/master/lib/Xml_Element/">View Online</a></td><td><a href="./api/master/lib/Xml_Element/Xml_Element.tar.gz">Xml_Element.tar.gz</a> (109k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Xml_Wbxml</b></td><td><a href="./api/master/lib/Xml_Wbxml/">View Online</a></td><td><a href="./api/master/lib/Xml_Wbxml/Xml_Wbxml.tar.gz">Xml_Wbxml.tar.gz</a> (145k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Yaml</b></td><td><a href="./api/master/lib/Yaml/">View Online</a></td><td><a href="./api/master/lib/Yaml/Yaml.tar.gz">Yaml.tar.gz</a> (145k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>lz4</b></td><td><a href="./api/master/lib/lz4/">View Online</a></td><td><a href="./api/master/lib/lz4/lz4.tar.gz">lz4.tar.gz</a> (28k)</td><td class='apidate'>Last updated: 1970-01-01 00:00 UTC</td></tr>
</table>

<h2>API References - Horde 4</h2>

<h3>Horde 4 Base</h3>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td class="apiname"><b>Horde</b></td><td><a href="./api/FRAMEWORK_4/app/horde/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/horde/horde.tar.gz">horde.tar.gz</a> (3928k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
</table>

<h3>Horde 4 Applications</h3>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td class="apiname"><b>Agora</b></td><td><a href="./api/FRAMEWORK_4/app/agora/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/agora/agora.tar.gz">agora.tar.gz</a> (520k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Ansel</b></td><td><a href="./api/FRAMEWORK_4/app/ansel/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/ansel/ansel.tar.gz">ansel.tar.gz</a> (1248k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Beatnik</b></td><td><a href="./api/FRAMEWORK_4/app/beatnik/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/beatnik/beatnik.tar.gz">beatnik.tar.gz</a> (152k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Chora</b></td><td><a href="./api/FRAMEWORK_4/app/chora/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/chora/chora.tar.gz">chora.tar.gz</a> (681k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Folks</b></td><td><a href="./api/FRAMEWORK_4/app/folks/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/folks/folks.tar.gz">folks.tar.gz</a> (229k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Gollem</b></td><td><a href="./api/FRAMEWORK_4/app/gollem/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/gollem/gollem.tar.gz">gollem.tar.gz</a> (1043k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Hermes</b></td><td><a href="./api/FRAMEWORK_4/app/hermes/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/hermes/hermes.tar.gz">hermes.tar.gz</a> (340k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>IMP</b></td><td><a href="./api/FRAMEWORK_4/app/imp/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/imp/imp.tar.gz">imp.tar.gz</a> (4851k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Ingo</b></td><td><a href="./api/FRAMEWORK_4/app/ingo/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/ingo/ingo.tar.gz">ingo.tar.gz</a> (1478k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Jonah</b></td><td><a href="./api/FRAMEWORK_4/app/jonah/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/jonah/jonah.tar.gz">jonah.tar.gz</a> (370k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Klutz</b></td><td><a href="./api/FRAMEWORK_4/app/klutz/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/klutz/klutz.tar.gz">klutz.tar.gz</a> (264k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kronolith</b></td><td><a href="./api/FRAMEWORK_4/app/kronolith/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/kronolith/kronolith.tar.gz">kronolith.tar.gz</a> (2534k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Luxor</b></td><td><a href="./api/FRAMEWORK_4/app/luxor/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/luxor/luxor.tar.gz">luxor.tar.gz</a> (155k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mnemo</b></td><td><a href="./api/FRAMEWORK_4/app/mnemo/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/mnemo/mnemo.tar.gz">mnemo.tar.gz</a> (1218k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Nag</b></td><td><a href="./api/FRAMEWORK_4/app/nag/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/nag/nag.tar.gz">nag.tar.gz</a> (1602k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Operator</b></td><td><a href="./api/FRAMEWORK_4/app/operator/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/operator/operator.tar.gz">operator.tar.gz</a> (24k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Passwd</b></td><td><a href="./api/FRAMEWORK_4/app/passwd/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/passwd/passwd.tar.gz">passwd.tar.gz</a> (1085k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Sam</b></td><td><a href="./api/FRAMEWORK_4/app/sam/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/sam/sam.tar.gz">sam.tar.gz</a> (346k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Sesha</b></td><td><a href="./api/FRAMEWORK_4/app/sesha/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/sesha/sesha.tar.gz">sesha.tar.gz</a> (219k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Shout</b></td><td><a href="./api/FRAMEWORK_4/app/shout/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/shout/shout.tar.gz">shout.tar.gz</a> (82k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Skeleton</b></td><td><a href="./api/FRAMEWORK_4/app/skeleton/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/skeleton/skeleton.tar.gz">skeleton.tar.gz</a> (41k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Trean</b></td><td><a href="./api/FRAMEWORK_4/app/trean/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/trean/trean.tar.gz">trean.tar.gz</a> (578k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Turba</b></td><td><a href="./api/FRAMEWORK_4/app/turba/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/turba/turba.tar.gz">turba.tar.gz</a> (1944k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Ulaform</b></td><td><a href="./api/FRAMEWORK_4/app/ulaform/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/ulaform/ulaform.tar.gz">ulaform.tar.gz</a> (243k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Vilma</b></td><td><a href="./api/FRAMEWORK_4/app/vilma/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/vilma/vilma.tar.gz">vilma.tar.gz</a> (232k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Whups</b></td><td><a href="./api/FRAMEWORK_4/app/whups/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/whups/whups.tar.gz">whups.tar.gz</a> (1229k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Wicked</b></td><td><a href="./api/FRAMEWORK_4/app/wicked/">View Online</a></td><td><a href="./api/FRAMEWORK_4/app/wicked/wicked.tar.gz">wicked.tar.gz</a> (565k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
</table>

<h3>Horde 4 Packages</h3>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td class="apiname"><b>ActiveSync</b></td><td><a href="./api/FRAMEWORK_4/lib/ActiveSync/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/ActiveSync/ActiveSync.tar.gz">ActiveSync.tar.gz</a> (88k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Alarm</b></td><td><a href="./api/FRAMEWORK_4/lib/Alarm/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Alarm/Alarm.tar.gz">Alarm.tar.gz</a> (32k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Argv</b></td><td><a href="./api/FRAMEWORK_4/lib/Argv/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Argv/Argv.tar.gz">Argv.tar.gz</a> (45k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Auth</b></td><td><a href="./api/FRAMEWORK_4/lib/Auth/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Auth/Auth.tar.gz">Auth.tar.gz</a> (50k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Autoloader</b></td><td><a href="./api/FRAMEWORK_4/lib/Autoloader/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Autoloader/Autoloader.tar.gz">Autoloader.tar.gz</a> (14k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Autoloader_Cache</b></td><td><a href="./api/FRAMEWORK_4/lib/Autoloader_Cache/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Autoloader_Cache/Autoloader_Cache.tar.gz">Autoloader_Cache.tar.gz</a> (11k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Browser</b></td><td><a href="./api/FRAMEWORK_4/lib/Browser/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Browser/Browser.tar.gz">Browser.tar.gz</a> (34k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Cache</b></td><td><a href="./api/FRAMEWORK_4/lib/Cache/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Cache/Cache.tar.gz">Cache.tar.gz</a> (18k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Cli</b></td><td><a href="./api/FRAMEWORK_4/lib/Cli/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Cli/Cli.tar.gz">Cli.tar.gz</a> (24k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Cli_Modular</b></td><td><a href="./api/FRAMEWORK_4/lib/Cli_Modular/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Cli_Modular/Cli_Modular.tar.gz">Cli_Modular.tar.gz</a> (17k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Compress</b></td><td><a href="./api/FRAMEWORK_4/lib/Compress/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Compress/Compress.tar.gz">Compress.tar.gz</a> (34k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Constraint</b></td><td><a href="./api/FRAMEWORK_4/lib/Constraint/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Constraint/Constraint.tar.gz">Constraint.tar.gz</a> (5k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Controller</b></td><td><a href="./api/FRAMEWORK_4/lib/Controller/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Controller/Controller.tar.gz">Controller.tar.gz</a> (10k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Core</b></td><td><a href="./api/FRAMEWORK_4/lib/Core/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Core/Core.tar.gz">Core.tar.gz</a> (504k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Crypt</b></td><td><a href="./api/FRAMEWORK_4/lib/Crypt/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Crypt/Crypt.tar.gz">Crypt.tar.gz</a> (140k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Data</b></td><td><a href="./api/FRAMEWORK_4/lib/Data/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Data/Data.tar.gz">Data.tar.gz</a> (32k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>DataTree</b></td><td><a href="./api/FRAMEWORK_4/lib/DataTree/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/DataTree/DataTree.tar.gz">DataTree.tar.gz</a> (35k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Date</b></td><td><a href="./api/FRAMEWORK_4/lib/Date/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Date/Date.tar.gz">Date.tar.gz</a> (56k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Date_Parser</b></td><td><a href="./api/FRAMEWORK_4/lib/Date_Parser/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Date_Parser/Date_Parser.tar.gz">Date_Parser.tar.gz</a> (30k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Db</b></td><td><a href="./api/FRAMEWORK_4/lib/Db/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Db/Db.tar.gz">Db.tar.gz</a> (109k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Editor</b></td><td><a href="./api/FRAMEWORK_4/lib/Editor/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Editor/Editor.tar.gz">Editor.tar.gz</a> (591k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Exception</b></td><td><a href="./api/FRAMEWORK_4/lib/Exception/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Exception/Exception.tar.gz">Exception.tar.gz</a> (23k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Feed</b></td><td><a href="./api/FRAMEWORK_4/lib/Feed/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Feed/Feed.tar.gz">Feed.tar.gz</a> (1588k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Form</b></td><td><a href="./api/FRAMEWORK_4/lib/Form/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Form/Form.tar.gz">Form.tar.gz</a> (196k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Group</b></td><td><a href="./api/FRAMEWORK_4/lib/Group/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Group/Group.tar.gz">Group.tar.gz</a> (21k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>History</b></td><td><a href="./api/FRAMEWORK_4/lib/History/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/History/History.tar.gz">History.tar.gz</a> (17k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Http</b></td><td><a href="./api/FRAMEWORK_4/lib/Http/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Http/Http.tar.gz">Http.tar.gz</a> (12k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Icalendar</b></td><td><a href="./api/FRAMEWORK_4/lib/Icalendar/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Icalendar/Icalendar.tar.gz">Icalendar.tar.gz</a> (96k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Image</b></td><td><a href="./api/FRAMEWORK_4/lib/Image/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Image/Image.tar.gz">Image.tar.gz</a> (806k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Imap_Client</b></td><td><a href="./api/FRAMEWORK_4/lib/Imap_Client/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Imap_Client/Imap_Client.tar.gz">Imap_Client.tar.gz</a> (138k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Imsp</b></td><td><a href="./api/FRAMEWORK_4/lib/Imsp/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Imsp/Imsp.tar.gz">Imsp.tar.gz</a> (32k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Injector</b></td><td><a href="./api/FRAMEWORK_4/lib/Injector/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Injector/Injector.tar.gz">Injector.tar.gz</a> (21k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Itip</b></td><td><a href="./api/FRAMEWORK_4/lib/Itip/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Itip/Itip.tar.gz">Itip.tar.gz</a> (33k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Cli</b></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Cli/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Cli/Kolab_Cli.tar.gz">Kolab_Cli.tar.gz</a> (33k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Config</b></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Config/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Config/Kolab_Config.tar.gz">Kolab_Config.tar.gz</a> (14k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Filter</b></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Filter/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Filter/Kolab_Filter.tar.gz">Kolab_Filter.tar.gz</a> (60k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Format</b></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Format/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Format/Kolab_Format.tar.gz">Kolab_Format.tar.gz</a> (57k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_FreeBusy</b></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_FreeBusy/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_FreeBusy/Kolab_FreeBusy.tar.gz">Kolab_FreeBusy.tar.gz</a> (90k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Resource</b></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Resource/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Resource/Kolab_Resource.tar.gz">Kolab_Resource.tar.gz</a> (36k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Server</b></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Server/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Server/Kolab_Server.tar.gz">Kolab_Server.tar.gz</a> (103k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Session</b></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Session/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Session/Kolab_Session.tar.gz">Kolab_Session.tar.gz</a> (22k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kolab_Storage</b></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Storage/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Kolab_Storage/Kolab_Storage.tar.gz">Kolab_Storage.tar.gz</a> (152k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Ldap</b></td><td><a href="./api/FRAMEWORK_4/lib/Ldap/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Ldap/Ldap.tar.gz">Ldap.tar.gz</a> (62k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Lens</b></td><td><a href="./api/FRAMEWORK_4/lib/Lens/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Lens/Lens.tar.gz">Lens.tar.gz</a> (10k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Lock</b></td><td><a href="./api/FRAMEWORK_4/lib/Lock/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Lock/Lock.tar.gz">Lock.tar.gz</a> (14k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Log</b></td><td><a href="./api/FRAMEWORK_4/lib/Log/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Log/Log.tar.gz">Log.tar.gz</a> (13k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>LoginTasks</b></td><td><a href="./api/FRAMEWORK_4/lib/LoginTasks/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/LoginTasks/LoginTasks.tar.gz">LoginTasks.tar.gz</a> (28k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mail</b></td><td><a href="./api/FRAMEWORK_4/lib/Mail/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Mail/Mail.tar.gz">Mail.tar.gz</a> (23k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Memcache</b></td><td><a href="./api/FRAMEWORK_4/lib/Memcache/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Memcache/Memcache.tar.gz">Memcache.tar.gz</a> (14k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mime</b></td><td><a href="./api/FRAMEWORK_4/lib/Mime/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Mime/Mime.tar.gz">Mime.tar.gz</a> (84k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mime_Viewer</b></td><td><a href="./api/FRAMEWORK_4/lib/Mime_Viewer/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Mime_Viewer/Mime_Viewer.tar.gz">Mime_Viewer.tar.gz</a> (141k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Nls</b></td><td><a href="./api/FRAMEWORK_4/lib/Nls/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Nls/Nls.tar.gz">Nls.tar.gz</a> (424k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Notification</b></td><td><a href="./api/FRAMEWORK_4/lib/Notification/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Notification/Notification.tar.gz">Notification.tar.gz</a> (21k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Oauth</b></td><td><a href="./api/FRAMEWORK_4/lib/Oauth/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Oauth/Oauth.tar.gz">Oauth.tar.gz</a> (6k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Pdf</b></td><td><a href="./api/FRAMEWORK_4/lib/Pdf/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Pdf/Pdf.tar.gz">Pdf.tar.gz</a> (58k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Pear</b></td><td><a href="./api/FRAMEWORK_4/lib/Pear/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Pear/Pear.tar.gz">Pear.tar.gz</a> (53k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Perms</b></td><td><a href="./api/FRAMEWORK_4/lib/Perms/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Perms/Perms.tar.gz">Perms.tar.gz</a> (39k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Prefs</b></td><td><a href="./api/FRAMEWORK_4/lib/Prefs/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Prefs/Prefs.tar.gz">Prefs.tar.gz</a> (50k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>PubSub</b></td><td><a href="./api/FRAMEWORK_4/lib/PubSub/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/PubSub/PubSub.tar.gz">PubSub.tar.gz</a> (5k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Push</b></td><td><a href="./api/FRAMEWORK_4/lib/Push/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Push/Push.tar.gz">Push.tar.gz</a> (26k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Queue</b></td><td><a href="./api/FRAMEWORK_4/lib/Queue/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Queue/Queue.tar.gz">Queue.tar.gz</a> (10k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Rampage</b></td><td><a href="./api/FRAMEWORK_4/lib/Rampage/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Rampage/Rampage.tar.gz">Rampage.tar.gz</a> (19k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Rdo</b></td><td><a href="./api/FRAMEWORK_4/lib/Rdo/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Rdo/Rdo.tar.gz">Rdo.tar.gz</a> (30k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Reflection</b></td><td><a href="./api/FRAMEWORK_4/lib/Reflection/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Reflection/Reflection.tar.gz">Reflection.tar.gz</a> (13k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Release</b></td><td><a href="./api/FRAMEWORK_4/lib/Release/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Release/Release.tar.gz">Release.tar.gz</a> (24k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Routes</b></td><td><a href="./api/FRAMEWORK_4/lib/Routes/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Routes/Routes.tar.gz">Routes.tar.gz</a> (45k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Rpc</b></td><td><a href="./api/FRAMEWORK_4/lib/Rpc/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Rpc/Rpc.tar.gz">Rpc.tar.gz</a> (59k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Sabre</b></td><td><a href="./api/FRAMEWORK_4/lib/Sabre/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Sabre/Sabre.tar.gz">Sabre.tar.gz</a> (11k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Scheduler</b></td><td><a href="./api/FRAMEWORK_4/lib/Scheduler/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Scheduler/Scheduler.tar.gz">Scheduler.tar.gz</a> (14k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Scribe</b></td><td><a href="./api/FRAMEWORK_4/lib/Scribe/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Scribe/Scribe.tar.gz">Scribe.tar.gz</a> (5k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Secret</b></td><td><a href="./api/FRAMEWORK_4/lib/Secret/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Secret/Secret.tar.gz">Secret.tar.gz</a> (13k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Serialize</b></td><td><a href="./api/FRAMEWORK_4/lib/Serialize/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Serialize/Serialize.tar.gz">Serialize.tar.gz</a> (16k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_Facebook</b></td><td><a href="./api/FRAMEWORK_4/lib/Service_Facebook/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Service_Facebook/Service_Facebook.tar.gz">Service_Facebook.tar.gz</a> (31k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_Gravatar</b></td><td><a href="./api/FRAMEWORK_4/lib/Service_Gravatar/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Service_Gravatar/Service_Gravatar.tar.gz">Service_Gravatar.tar.gz</a> (13k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_Scribd</b></td><td><a href="./api/FRAMEWORK_4/lib/Service_Scribd/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Service_Scribd/Service_Scribd.tar.gz">Service_Scribd.tar.gz</a> (14k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_Twitter</b></td><td><a href="./api/FRAMEWORK_4/lib/Service_Twitter/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Service_Twitter/Service_Twitter.tar.gz">Service_Twitter.tar.gz</a> (9k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_UrlShortener</b></td><td><a href="./api/FRAMEWORK_4/lib/Service_UrlShortener/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Service_UrlShortener/Service_UrlShortener.tar.gz">Service_UrlShortener.tar.gz</a> (2k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_Vimeo</b></td><td><a href="./api/FRAMEWORK_4/lib/Service_Vimeo/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Service_Vimeo/Service_Vimeo.tar.gz">Service_Vimeo.tar.gz</a> (5k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Service_Weather</b></td><td><a href="./api/FRAMEWORK_4/lib/Service_Weather/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Service_Weather/Service_Weather.tar.gz">Service_Weather.tar.gz</a> (169k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>SessionHandler</b></td><td><a href="./api/FRAMEWORK_4/lib/SessionHandler/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/SessionHandler/SessionHandler.tar.gz">SessionHandler.tar.gz</a> (21k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Share</b></td><td><a href="./api/FRAMEWORK_4/lib/Share/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Share/Share.tar.gz">Share.tar.gz</a> (60k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>SpellChecker</b></td><td><a href="./api/FRAMEWORK_4/lib/SpellChecker/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/SpellChecker/SpellChecker.tar.gz">SpellChecker.tar.gz</a> (12k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Stream_Filter</b></td><td><a href="./api/FRAMEWORK_4/lib/Stream_Filter/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Stream_Filter/Stream_Filter.tar.gz">Stream_Filter.tar.gz</a> (12k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Stream_Wrapper</b></td><td><a href="./api/FRAMEWORK_4/lib/Stream_Wrapper/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Stream_Wrapper/Stream_Wrapper.tar.gz">Stream_Wrapper.tar.gz</a> (12k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Support</b></td><td><a href="./api/FRAMEWORK_4/lib/Support/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Support/Support.tar.gz">Support.tar.gz</a> (22k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>SyncMl</b></td><td><a href="./api/FRAMEWORK_4/lib/SyncMl/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/SyncMl/SyncMl.tar.gz">SyncMl.tar.gz</a> (133k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Template</b></td><td><a href="./api/FRAMEWORK_4/lib/Template/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Template/Template.tar.gz">Template.tar.gz</a> (15k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Test</b></td><td><a href="./api/FRAMEWORK_4/lib/Test/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Test/Test.tar.gz">Test.tar.gz</a> (19k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Text_Diff</b></td><td><a href="./api/FRAMEWORK_4/lib/Text_Diff/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Text_Diff/Text_Diff.tar.gz">Text_Diff.tar.gz</a> (28k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Text_Filter</b></td><td><a href="./api/FRAMEWORK_4/lib/Text_Filter/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Text_Filter/Text_Filter.tar.gz">Text_Filter.tar.gz</a> (50k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Text_Filter_Csstidy</b></td><td><a href="./api/FRAMEWORK_4/lib/Text_Filter_Csstidy/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Text_Filter_Csstidy/Text_Filter_Csstidy.tar.gz">Text_Filter_Csstidy.tar.gz</a> (25k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Text_Flowed</b></td><td><a href="./api/FRAMEWORK_4/lib/Text_Flowed/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Text_Flowed/Text_Flowed.tar.gz">Text_Flowed.tar.gz</a> (14k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Text_Textile</b></td><td><a href="./api/FRAMEWORK_4/lib/Text_Textile/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Text_Textile/Text_Textile.tar.gz">Text_Textile.tar.gz</a> (12k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Thrift</b></td><td><a href="./api/FRAMEWORK_4/lib/Thrift/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Thrift/Thrift.tar.gz">Thrift.tar.gz</a> (23k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Token</b></td><td><a href="./api/FRAMEWORK_4/lib/Token/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Token/Token.tar.gz">Token.tar.gz</a> (28k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Translation</b></td><td><a href="./api/FRAMEWORK_4/lib/Translation/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Translation/Translation.tar.gz">Translation.tar.gz</a> (13k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Tree</b></td><td><a href="./api/FRAMEWORK_4/lib/Tree/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Tree/Tree.tar.gz">Tree.tar.gz</a> (14k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Url</b></td><td><a href="./api/FRAMEWORK_4/lib/Url/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Url/Url.tar.gz">Url.tar.gz</a> (14k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Util</b></td><td><a href="./api/FRAMEWORK_4/lib/Util/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Util/Util.tar.gz">Util.tar.gz</a> (39k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Vcs</b></td><td><a href="./api/FRAMEWORK_4/lib/Vcs/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Vcs/Vcs.tar.gz">Vcs.tar.gz</a> (69k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Vfs</b></td><td><a href="./api/FRAMEWORK_4/lib/Vfs/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Vfs/Vfs.tar.gz">Vfs.tar.gz</a> (65k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>View</b></td><td><a href="./api/FRAMEWORK_4/lib/View/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/View/View.tar.gz">View.tar.gz</a> (43k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Xml_Element</b></td><td><a href="./api/FRAMEWORK_4/lib/Xml_Element/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Xml_Element/Xml_Element.tar.gz">Xml_Element.tar.gz</a> (11k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Xml_Wbxml</b></td><td><a href="./api/FRAMEWORK_4/lib/Xml_Wbxml/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Xml_Wbxml/Xml_Wbxml.tar.gz">Xml_Wbxml.tar.gz</a> (26k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Yaml</b></td><td><a href="./api/FRAMEWORK_4/lib/Yaml/">View Online</a></td><td><a href="./api/FRAMEWORK_4/lib/Yaml/Yaml.tar.gz">Yaml.tar.gz</a> (18k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
</table>

<h2>API References - Horde 3</h2>

<table border="0" cellpadding="0" cellspacing="0">
<tr><td class="apiname"><b>Horde</b></td><td><a href="./api.fw3/horde/">View Online</a></td><td><a href="./api.fw3/horde/horde.log">Log File</a></td><td><a href="./api.fw3/horde/errors.html">Errors</a></td><td><a href="./api.fw3/horde/horde.tar.gz">horde.tar.gz</a> (72k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname">&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td class="apiname"><b>Ansel</b></td><td><a href="./api.fw3/ansel/">View Online</a></td><td><a href="./api.fw3/ansel/ansel.log">Log File</a></td><td><a href="./api.fw3/ansel/errors.html">Errors</a></td><td><a href="./api.fw3/ansel/ansel.tar.gz">ansel.tar.gz</a> (217k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Chora</b></td><td><a href="./api.fw3/chora/">View Online</a></td><td><a href="./api.fw3/chora/chora.log">Log File</a></td><td><a href="./api.fw3/chora/errors.html">Errors</a></td><td><a href="./api.fw3/chora/chora.tar.gz">chora.tar.gz</a> (40k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Dimp</b></td><td><a href="./api.fw3/dimp/">View Online</a></td><td><a href="./api.fw3/dimp/dimp.log">Log File</a></td><td><a href="./api.fw3/dimp/errors.html">Errors</a></td><td><a href="./api.fw3/dimp/dimp.tar.gz">dimp.tar.gz</a> (50k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Forwards</b></td><td><a href="./api.fw3/forwards/">View Online</a></td><td><a href="./api.fw3/forwards/forwards.log">Log File</a></td><td><a href="./api.fw3/forwards/errors.html">Errors</a></td><td><a href="./api.fw3/forwards/forwards.tar.gz">forwards.tar.gz</a> (61k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Framework</b></td><td><a href="./api.fw3/framework/">View Online</a></td><td><a href="./api.fw3/framework/framework.log">Log File</a></td><td><a href="./api.fw3/framework/errors.html">Errors</a></td><td><a href="./api.fw3/framework/framework.tar.gz">framework.tar.gz</a> (3606k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Gollem</b></td><td><a href="./api.fw3/gollem/">View Online</a></td><td><a href="./api.fw3/gollem/gollem.log">Log File</a></td><td><a href="./api.fw3/gollem/errors.html">Errors</a></td><td><a href="./api.fw3/gollem/gollem.tar.gz">gollem.tar.gz</a> (64k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Hermes</b></td><td><a href="./api.fw3/hermes/">View Online</a></td><td><a href="./api.fw3/hermes/hermes.log">Log File</a></td><td><a href="./api.fw3/hermes/errors.html">Errors</a></td><td><a href="./api.fw3/hermes/hermes.tar.gz">hermes.tar.gz</a> (65k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>IMP</b></td><td><a href="./api.fw3/imp/">View Online</a></td><td><a href="./api.fw3/imp/imp.log">Log File</a></td><td><a href="./api.fw3/imp/errors.html">Errors</a></td><td><a href="./api.fw3/imp/imp.tar.gz">imp.tar.gz</a> (263k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Ingo</b></td><td><a href="./api.fw3/ingo/">View Online</a></td><td><a href="./api.fw3/ingo/ingo.log">Log File</a></td><td><a href="./api.fw3/ingo/errors.html">Errors</a></td><td><a href="./api.fw3/ingo/ingo.tar.gz">ingo.tar.gz</a> (162k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Klutz</b></td><td><a href="./api.fw3/klutz/">View Online</a></td><td><a href="./api.fw3/klutz/klutz.log">Log File</a></td><td><a href="./api.fw3/klutz/errors.html">Errors</a></td><td><a href="./api.fw3/klutz/klutz.tar.gz">klutz.tar.gz</a> (73k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Kronolith</b></td><td><a href="./api.fw3/kronolith/">View Online</a></td><td><a href="./api.fw3/kronolith/kronolith.log">Log File</a></td><td><a href="./api.fw3/kronolith/errors.html">Errors</a></td><td><a href="./api.fw3/kronolith/kronolith.tar.gz">kronolith.tar.gz</a> (172k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mimp</b></td><td><a href="./api.fw3/mimp/">View Online</a></td><td><a href="./api.fw3/mimp/mimp.log">Log File</a></td><td><a href="./api.fw3/mimp/errors.html">Errors</a></td><td><a href="./api.fw3/mimp/mimp.tar.gz">mimp.tar.gz</a> (46k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Mnemo</b></td><td><a href="./api.fw3/mnemo/">View Online</a></td><td><a href="./api.fw3/mnemo/mnemo.log">Log File</a></td><td><a href="./api.fw3/mnemo/errors.html">Errors</a></td><td><a href="./api.fw3/mnemo/mnemo.tar.gz">mnemo.tar.gz</a> (65k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Nag</b></td><td><a href="./api.fw3/nag/">View Online</a></td><td><a href="./api.fw3/nag/nag.log">Log File</a></td><td><a href="./api.fw3/nag/errors.html">Errors</a></td><td><a href="./api.fw3/nag/nag.tar.gz">nag.tar.gz</a> (107k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Passwd</b></td><td><a href="./api.fw3/passwd/">View Online</a></td><td><a href="./api.fw3/passwd/passwd.log">Log File</a></td><td><a href="./api.fw3/passwd/errors.html">Errors</a></td><td><a href="./api.fw3/passwd/passwd.tar.gz">passwd.tar.gz</a> (64k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Scry</b></td><td><a href="./api.fw3/scry/">View Online</a></td><td><a href="./api.fw3/scry/scry.log">Log File</a></td><td><a href="./api.fw3/scry/errors.html">Errors</a></td><td><a href="./api.fw3/scry/scry.tar.gz">scry.tar.gz</a> (49k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Turba</b></td><td><a href="./api.fw3/turba/">View Online</a></td><td><a href="./api.fw3/turba/turba.log">Log File</a></td><td><a href="./api.fw3/turba/errors.html">Errors</a></td><td><a href="./api.fw3/turba/turba.tar.gz">turba.tar.gz</a> (173k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Vacation</b></td><td><a href="./api.fw3/vacation/">View Online</a></td><td><a href="./api.fw3/vacation/vacation.log">Log File</a></td><td><a href="./api.fw3/vacation/errors.html">Errors</a></td><td><a href="./api.fw3/vacation/vacation.tar.gz">vacation.tar.gz</a> (63k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Whups</b></td><td><a href="./api.fw3/whups/">View Online</a></td><td><a href="./api.fw3/whups/whups.log">Log File</a></td><td><a href="./api.fw3/whups/errors.html">Errors</a></td><td><a href="./api.fw3/whups/whups.tar.gz">whups.tar.gz</a> (134k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
<tr><td class="apiname"><b>Wicked</b></td><td><a href="./api.fw3/wicked/">View Online</a></td><td><a href="./api.fw3/wicked/wicked.log">Log File</a></td><td><a href="./api.fw3/wicked/errors.html">Errors</a></td><td><a href="./api.fw3/wicked/wicked.tar.gz">wicked.tar.gz</a> (119k)</td><td class='apidate'>Last updated: 2022-11-10 10:09 UTC</td></tr>
</table>

</body>
</html>